body{
    font-style: italic;
    margin: 0;
}

h1 {
    font-size: 70px;
    text-align: center;
    color: #800080;
    font-style: italic;
}

a{
    text-decoration: none;
    color: rgb(240, 103, 12);
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

header{
    display: flex;
    height: 130px;
    background-color: #e1e9f4;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 230px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: #e4007c;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1310px;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #B0C4DE;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 210px;
    
}

.card .contenido {
    padding: 15px;
    text-align: center;
}

.card .contenido p {
    line-height: 1.5;
    color:#4682B4
}

.card .contenido h3 {
    font-weight: 400;
    margin-bottom: 15px;
}
.piepagina {
    width: 100%;
    height: 130%;
    background-color: #e1e9f4;

}

.piepagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.piepagina .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piepagina .grupo1 .box figure img {
    width: 200px;
}

.piepagina .grupo1 .box h2 {
    color:rgba(0, 0, 0, 2);
    margin-bottom: 25px;
    font-size: 20px;
}

.piepagina .grupo1 .box p {
    color:rgba(0, 0, 0, 2);
    margin-bottom: 10px;

} 

.piepagina .grupo2 {
    background-color: #800080;
    padding: 15px 10px;
    text-align: center;
    color: #e1e9f4;
}

.piepagina .grupo2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .piepagina .grupo1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}